<hr>
<div class="row entries-wrap wide">
    <div class="entries">
    <hr />
        <article class="col-eight">
            @{
                ViewBag.Title = "About Moses Mbutha Mwangi";
            }
            <div class="item-entry" data-aos="zoom-in">
                <h2>
                    
            </h2>
            <div class="item-entry__text">
                <div class="item-entry__cat">
                    <h3>@ViewBag.Message</h3><br />
                    @ViewBag.Title.
                </div>
               
                <h1 class="item-entry__title">
                </h1>

                <div class="item-entry__date">
                    <hr />
                    <p>This is Strictly a IT/Developer/Fullstack Blog that really deals with technology related issue on the .NET stack.</p>
                </div>
            </div>
            </div> <!-- item-entry -->

        </article> <!-- end article -->

    </div> <!-- end entries -->
</div> <!-- end entries-wrap -->










