@{
    ViewBag.Title = "FDBlog";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is Strictly a IT/Developer/Fullstack Blog that really deals with technology related issue on the .NET stack.</p>
