@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Moses Mbutha Mwangi<br />
    <abbr title="My Physical Address in Durham">P A:</abbr>
    3612 Weatherby Dr<br />
    <abbr title="My personal Telephone number">P:</abbr>
    919.491.1432
</address>

<address>
    <strong>Support:</strong>   <a href="mosesmwangi1979@gmail.com">mosesmwangi1979@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="venzauber@gmail.com">venzauber@gmail.com</a>
</address>