@using PagedList
@using PagedList.Mvc
@model IPagedList<MwangiBlogApp.Models.BlogPost>
                
<!-- s-content-->

    <section class="s-content">
        <div class="">
            <div class="">
                <img src="images/thumbs/single/standard/standard-1000.jpg"
                     srcset="/images/thumbs/single/standard/standard-2000.jpg 2000w,
                                 /images/thumbs/single/standard/standard-1000.jpg 1000w,
                                 /images/thumbs/single/standard/standard-500.jpg 500w"
                     sizes="(max-width: 2000px) 100vw, 2000px" alt="">
            </div>
        </div>
        <div class="row">
            @*<div class="col-sm-3">
                @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                {
                    <div class="controls controls-row search-row">
                        <input id="searchStr" name="searchStr" class="form" type="text" placeholder="Search">
                        <button id="searchStr" name="searchStr" class="btn" type="submit">
                            <bu class="icon-search"></bu>
                        </button>
                    </div>
                }
            </div>*@
        </div>
        <div class="row">
            You have Succesfully logged in
        </div>
        

                                </section> <!-- end s-content -->
<!-- s-extra
================================================== -->
