
@model IEnumerable<MwangiBlogApp.Models.BlogPost>




<section class="s-featured">
    <div class="row">
        <div class="col-full">
            <!--The start of the slider-->
            <div class="featured-slider featured" data-aos="zoom-in">

                <div class="featured__slide">
                    <div class="entry">

                        <div class="entry__background" style="background-image:url('/images/thumbs/featured/featured-guitarman.jpg');"></div>

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">This is the first carousel Entry "image needs to be pulled from database".</a></h1>

                            <div class="entry__info">
                                <a href="#0" class="entry__profile-pic">
                                    <img class="avatar" src="/images/avatars/user-05.jpg" alt="">
                                </a>
                                <ul class="entry__meta">
                                    <li><a href="#0">Moses Mwangi "this is a link to pull up a heading and abstract"</a></li>
                                    <li>Need to plug in creation date July 20, 2019</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__slide -->

                <div class="featured__slide">

                    <div class="entry">

                        <div class="entry__background" style="background-image:url('/images/thumbs/featured/featured-watch.jpg');"></div>

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Management</a></span>

                            <h1><a href="#0" title="">This is the second carousel Entry "image needs to be pulled from database".</a></h1>

                            <div class="entry__info">
                                <a href="#0" class="entry__profile-pic">
                                    <img class="avatar" src="/images/avatars/user-03.jpg" alt="">
                                </a>

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe "this is a link to pull up a heading and abstract"</a></li>
                                    <li>June 13, 2018 "needs to pulll creation date from database"</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                </div> <!-- end featured__slide -->

                <div class="featured__slide">

                    <div class="entry">

                        <div class="entry__background" style="background-image:url('/images/thumbs/featured/featured-beetle.jpg');"></div>

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">LifeStyle</a></span>

                            <h1><a href="#0" title="">This is the this Carousel Entry "image needs to be pulled from database".</a></h1>

                            <div class="entry__info">
                                <a href="#0" class="entry__profile-pic">
                                    <img class="avatar" src="/images/avatars/user-03.jpg" alt="">
                                </a>

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>June 13, 2018 "needs to pulll creation date from database"</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                </div> <!-- end featured__slide -->

            </div> <!-- end featured -->

        </div> <!-- end col-full -->
    </div>
</section> <!-- end s-featured -->
<!-- s-content-->
<section class="s-content">
    @foreach (var item in Model)
    {

        <div class="row entries-wrap wide">
            <div class="entries">

                <article class="col-block">

                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href=@Url.Action("Details", new { slug = item.Slug }) class="item-entry__thumb-link">
                                <img src="/images/thumbs/post/lamp-400.jpg"
                                     srcset="/images/thumbs/post/lamp-400.jpg 1x, /images/thumbs/post/lamp-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href=@Url.Action("Details", new { slug = item.Slug })>@Html.DisplayFor(modelItem => item.Title)</a>
                            </div>

                            <h1 class="item-entry__title"><a href=@Url.Action("Details", new { slug = item.Slug })>@Html.DisplayFor(modelItem => item.Slug)</a></h1>
                            <hr />
                            <div class="item-entry__date">
                                @*@post.Created.ToString("dddd, dd MMMM yyyy")*@
                                <a href="single-standard.html">Moses Mwangi @Html.DisplayFor(modelItem => item.Created) @DateTime.Now.ToString("dddd, dd MMMM yyyy")</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->
    }

    

</section> <!-- end s-content -->
<!-- s-extra
================================================== -->
